{{- if and .Values.kargo.stages.enabled .Values.kargo.project.enabled }}
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: stage
  namespace: {{ .Values.kargo.namespace }}
spec:
  subscriptions:
    upstreamStages: []  # Stage gets freight directly from warehouse
  promotionMechanisms:
    argoCd:
      apps:
        {{- range .Values.kargo.stages.stage.apps }}
        - name: {{ .name }}
          namespace: {{ .namespace }}
        {{- end }}

---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: prod
  namespace: {{ .Values.kargo.namespace }}
spec:
  subscriptions:
    upstreamStages:
      - name: stage  # Subscribe to promotions from stage
  promotionMechanisms:
    argoCd:
      apps:
        {{- range .Values.kargo.stages.prod.apps }}
        - name: {{ .name }}
          namespace: {{ .namespace }}
        {{- end }}
{{- end }}

