{{- if and .Values.kargo.stages.enabled .Values.kargo.project.enabled }}
{{- if eq .Values.global.argoApp.environment "stage" }}
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: stage
  namespace: {{ .Values.kargo.project.name }}
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ .Values.kargo.warehouse.name }}
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - uses: argocd/sync
          config:
            apps:
              {{- range .Values.kargo.stages.stage.apps }}
              - name: {{ .name }}
                namespace: {{ .namespace }}
              {{- end }}
{{- end }}
{{- if eq .Values.global.argoApp.environment "prod" }}
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: prod
  namespace: {{ .Values.kargo.project.name }}
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ .Values.kargo.warehouse.name }}
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - uses: argocd/sync
          config:
            apps:
              {{- range .Values.kargo.stages.prod.apps }}
              - name: {{ .name }}
                namespace: {{ .namespace }}
              {{- end }}
{{- end }}
{{- end }}


