{{- if and .Values.kargo.warehouse.enabled .Values.kargo.project.enabled }}
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: {{ .Values.kargo.warehouse.name }}
  namespace: {{ .Values.kargo.project.name }}
spec:
  subscriptions:
    - git:
        repoURL: {{ .Values.kargo.warehouse.repoURL }}
        {{- if .Values.kargo.warehouse.branch }}
        branch: {{ .Values.kargo.warehouse.branch }}
        {{- end }}
        {{- if .Values.kargo.warehouse.allowTags }}
        allowTags: {{ .Values.kargo.warehouse.allowTags }}
        {{- end }}
        commitSelectionStrategy: NewestFromBranch
        discoveryLimit: 20
        strictSemvers: true
  interval: {{ .Values.kargo.warehouse.interval }}
{{- end }}

