cert-manager:
  resources:
    requests:
      cpu: 500m
      memory: 256Mi
    limits:
      memory: 1Gi
  cainjector:
    resources:
      requests:
        cpu: 200m
        memory: 128Mi
      limits:
        memory: 1Gi
  installCRDs: true
