# Kargo Helm Chart values
# These are installed via the child-kargo Application on each control cluster

# Kargo operator configuration (aliased as kargo-operator in Chart.yaml)
kargo-operator:
  serviceAccount:
    create: false
    name: kargo-controller
  
# Project settings
project:
  name: kargo-demo
  autoCreateNamespace: true

git:
  repoURL: "https://github.com/trawler/kargo-demo.git"
