{{ if eq .Values.global.argoApp.environment "stage" }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: stage-control-control-clusters
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/instance: argocd-cd
spec:
  generators:
    - list:
        elements:
          - appName: cert-manager
            appRevision: main
          - appName: argo-cd-applicationsets
            appRevision: main
          - appName: kargo
            appRevision: main
  goTemplate: true
  goTemplateOptions:
  - missingkey=error
  template:
    metadata:
      name: '{{ "{{" }}.appName{{ "}}" }}-stage-control'
      annotations:
        kargo.akuity.io/authorized-stage: msvc-system:stage
    spec:
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      project: 'msvc-system'
      source:
        path: apps/{{ "{{" }}.appName{{ "}}" }}
        repoURL: https://github.com/trawler/kargo-demo.git
        targetRevision: '{{ "{{" }}.appRevision{{ "}}" }}'
        helm:
          parameters:
            - name: argoApp.name
              value: '{{ "{{" }}.appName{{ "}}" }}-stage-control'
            - name: argoApp.project
              value: 'msvc-system'
            - name: argoApp.cluster
              value: 'stage-control'
            - name: argoApp.server
              value: 'https://kubernetes.default.svc'
            - name: argoApp.path
              value: '{{ "{{" }}.appName{{ "}}" }}'
            - name: argoApp.revision
              value: '{{ "{{" }}.appRevision{{ "}}" }}'
            - name: argoApp.namespace
              value: 'argocd'
            - name: argoApp.environment
              value: 'stage'
            - name: argoApp.nodes.cidr
              value: '172.18.0.0/16'
            - name: argoApp.clusterType
              value: 'control'
            - name: argoApp.apiserver.cidr
              value: '172.18.0.2'
            - name: argoApp.apiserver.server
              value: 'https://172.18.0.2:6443'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - Replace=true
{{ "{{" }}- if eq .appName "kargo" {{ "}}" }}
      ignoreDifferences:
        - group: kargo.akuity.io
          kind: Warehouse
          jsonPointers:
            - /status
            - /metadata/managedFields
        - group: kargo.akuity.io
          kind: Stage
          jsonPointers:
            - /status
            - /metadata/managedFields
        - group: kargo.akuity.io
          kind: Freight
          jsonPointers:
            - /status
            - /metadata/managedFields
{{ "{{" }}- end {{ "}}" }}
{{ end }}
